<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zykx.monitor.server.mybatis.ServerMonitorLogMapper">

    <update id="updateSyncStatus">
        update ms_server_monitor_log set synced = #{status}
        where id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>